@{
    Layout = "_AdminLayout";
}
<h1 class="pt-5"></h1>
<div class="container">
    <h1>Chức năng</h1>
    <hr/>
</div>
<div class="container" style="min-height:700px">
    <div class="d-flex align-items-center" style="height:100%;">
        <a asp-controller="EUser" asp-action="Index" class="btn btn-outline-primary mb-2 rounded me-2">Quản lý người dùng</a>
        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary mb-2 rounded me-2">Quản lý sản phẩm</a>
    </div>
</div>