<h1 class="pt-5"></h1>
<div class="" style="min-height:700px">
    <div class="bg-warning rounded">
        <div class="p-4">
            <h1 class="pt-4"><i class="bi bi-sign-stop"></i> Từ Chối truy cập</h1>
            <p class=" text-dark">
                Tài khoản của bạn không có đủ quyền truy cập đến trang này !!
            </p>
        </div>
    </div>
</div>
