@{
    if (User.IsInRole("Admin"))
    {
        Layout = "_AdminLayout";
    }
}
@model EUser
@{
    var userId = User.Claims.FirstOrDefault(c => c.Type == "UserId")?.Value;
}
<h1 class="pt-5"></h1>
<div class="container">
    <div class="bg-light border-0 rounded w-50 d-block mx-auto" data-aos="flip-left">

        <form class="container" method="post">
            <div class="text-center">
                <h1 class="pt-4">
                    Đổi mật khẩu
                </h1>
            </div>
            @* <div class="form-floating mb-3 mt-3">
                <input type="text"
                       class="form-control border-4 border-top-0 border-start-0 border-end-0 bg-light rounded "
                       id="email"
                       placeholder="Nhập mật khẩu cũ"
                       name="pwd"
                <label for="pwd">Mật khẩu cũ</label>
            </div> *@
            <div class="form-floating mt-3 mb-3">
                <input type="password"
                       class="form-control  border-4 border-top-0 border-start-0 border-end-0 bg-light rounded "
                       id="pwd"
                       placeholder="nhập mật khẩu cũ"
                       name="pwd" 
                       asp-for="Pwd"/>
                <label for="pwd">Mật khẩu cũ</label>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="password"
                       class="form-control  border-4 border-top-0 border-start-0 border-end-0 bg-light rounded "
                       id="pwd"
                       placeholder="nhập mật khẩu mới"
                       name="newPwd" 
                       asp-for="Pwd" />
                <label for="pwd">Mật khẩu mới</label>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="password"
                       class="form-control  border-4 border-top-0 border-start-0 border-end-0 bg-light rounded "
                       id="pwd"
                       placeholder="Xác nhận mật khẩu"
                       name="reNewPwd" 
                       asp-for="Pwd" />
                <label for="pwd">Xác nhận Mật khẩu</label>
            </div>
            <span class="text-danger mt-2 mb-2" asp-validation-for="Pwd"></span>
            <div class="text-end pb-4">
                <a asp-route-id="@userId" asp-controller="Auth" asp-action="Profile" class="btn btn-outline-danger rounded form-control mb-2">Hủy bỏ</a>
                <button asp-route-id="@userId" type="submit" class="btn btn-primary rounded form-control">Xác nhận</button>
            </div>
        </form>

    </div>
</div>