@{
    if (User.IsInRole("Admin"))
    {
        Layout = "_AdminLayout";
    }
}
<h1 class="pt-5"></h1>
<div class="container">
    <div class="bg-light border-0 rounded w-50 d-block mx-auto" data-aos="zoom-in">
        <form class="container" method="post">
            <div class="text-center">
                <h1 class="pt-4">
                    Quên mật khẩu
                </h1>
            </div>
            <div class="form-floating mt-3 mb-3">
                <input type="text"
                       class="form-control  border-4 border-top-0 border-start-0 border-end-0 bg-light rounded "
                       id="pwd"
                       placeholder="Enter password"
                       name="email" />
                <label for="pwd">Email</label>
            </div>
            <div class="text-end pb-4">
                <button type="submit" class="btn btn-primary rounded form-control">Gửi mail</button>
            </div>
        </form>

    </div>
</div>
