@{
    Layout = "_AdminLayout";
}
@model EUser
<div>
    <div class="container">
        <form method="post">
            <input hidden asp-for="EUserId" />
            <input hidden asp-for="Pwd" />
            <h2 class="pt-4"></h2>
            <div class="mb-2 mt-1 card rounded container">
                <div class="card-header">
                    <h2 class="pt-4 mb-2">Cập nhật người dùng</h2>
                </div>
                <div class="mt-2 mb-2">
                    <label class="text-white rounded-2 rounded-bottom-0 badge bg-dark fs-5">Email :</label>
                    <input type="text" asp-for="Email" class="form-control rounded rounded-top-0 border border-black" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-2">
                    <label class="text-white rounded-2 rounded-bottom-0 badge bg-dark fs-5">Họ tên :</label>
                    <input type="text" asp-for="EUserName" class="form-control rounded rounded-top-0 border border-black" />
                    <span asp-validation-for="EUserName" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-2">
                    <label class="text-white rounded-2 rounded-bottom-0 badge bg-dark fs-5">Ngày sinh :</label>
                    <input type="date" asp-for="Birthday" class="form-control rounded rounded-top-0 border border-black" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-2">
                    <label class="text-white rounded-2 rounded-bottom-0 badge bg-dark fs-5">Địa Chỉ :</label>
                    <textarea asp-for="EUserAddress" class="form-control rounded rounded-top-0 border border-black" cols="5" rows="10">
                    </textarea>
                </div>
                <div class="mt-2 mb-2">
                    <label class="text-white rounded-2 rounded-bottom-0 badge bg-dark fs-5">Vai trò:</label>
                    <select asp-for="EUserRole" asp-items="@ViewBag.RoleList" class="form-select rounded rounded-top-0 border border-black">
                        <optgroup label="Lựa chọn vai trò">
                        </optgroup>
                    </select>
                    <span asp-validation-for="EUserRole" class="text-danger"></span>
                </div>
                <div class="mt-2 mb-2">
                    <label class="text-white rounded-2 rounded-bottom-0 badge bg-dark fs-5 mb-0">Trạng thái:</label>
                    <div class="card rounded mb-2">
                        <div class="d-flex align-items-center p-2">
                            <input type="checkbox" name="IsConfirm" asp-for="IsConfirm" class="form-check me-2" />
                            <label>Tài khoản đã xác thực</label>
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control rounded">Cập nhật</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="EUser" asp-action="Index" class="btn btn-outline-secondary form-control rounded">Quay trở lại danh sách</a>
                    </div>
                </div>
            </div>
        </form>
        <div asp-validation-summary="All"></div>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}