@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1> *@
<div class="container">
    <img src="https://images.samsung.com/is/image/samsung/assets/vn/p6_gro2/p6_initial_info/header-bg-privacy.jpg?$1440_N_JPG$" class="img-fluid " data-aos="fade-right" data-aos-duration="1000" />
    <h1 class="mt-4 p-5 text-decoration-underline">Cam Kết Của Chúng Tôi</h1>
    <div class=" rounded d-block mx-auto" >
        <p class="text-black pt-0" data-aos="fade-left" data-aos-duration="1000">
            Tại Samsung Electronics, chúng tôi coi việc bảo vệ thông tin cá nhân của bạn là ưu tiên hàng đầu.

            Chúng tôi hiểu hoàn toàn rằng thông tin cá nhân của bạn là thuộc về bạn, vì vậy chúng tôi nỗ lực hết sức lưu trữ bảo mật và xử lý cẩn thận thông tin mà bạn chia sẻ với chúng tôi.

            Chúng tôi coi sự tin cậy của bạn có giá trị cao nhất. Vì vậy chúng tôi thu thập lượng thông tin tối thiểu chỉ khi có sự cho phép của bạn và sử dụng thông tin này chỉ cho các mục đích đã dự định. Chúng tôi không cung cấp thông tin cho các bên thứ ba mà không có sự hiểu biết của bạn.

            Tại Samsung Electronics chúng tôi nỗ lực hết sức nhằm đảm bảo khả năng bảo vệ dữ liệu của bạn, bao gồm bảo mật dữ liệu kỹ thuật và quy trình quản lý nội bộ cũng như các biện pháp bảo vệ dữ liệu vật lý. Đặc biệt là chúng tôi đã phát triển một công nghệ mã hóa mạnh dựa trên nền Samsung Knox. Chúng tôi đã áp dụng Samsung Knox trên các hệ thống và sản phẩm của chúng tôi, mang lại sự khác biệt cho chúng tôi trước các công ty khác.

            Chúng tôi phấn đấu cải thiện cuộc sống của bạn bằng cách đưa ra những trải nghiệm số đầy cảm hứng và hấp dẫn. Để thực hiện việc này, sự tin cậy của bạn là điều tối cao và vì vậy chúng tôi sẽ nỗ lực hết sức để bảo vệ thông tin cá nhân của bạn.

            Cảm ơn bạn vẫn tiếp tục quan tâm và ủng hộ chúng tôi.
        </p>
    </div>
</div>

